<launch>
	<arg name="gui" default="True" />
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find al_robots)/defs/icub.urdf.xacro'" />
	<param name="use_gui" value="$(arg gui)"/>
	<!-- node name="joint_state_publisher" pkg="al_robots" type="icub_js_pub" ></node> -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
	<remap from="joint_states" to="icub_joint_states" />
	</node>
	<node name="rviz" pkg="rviz" type="rviz" />
</launch>
