<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="sr4k" >
       
  <!-- PR2 base -->
  <include filename="$(find pr2_description)/urdf/base_v0/base.urdf.xacro" />
  <xacro:pr2_base_v0 name="base"/>
  
  <!-- Swissranger camera -->
  <!--include filename="$(find swissranger_camera_description)/urdf/swissranger_camera_description.xacro" />
  <xacro:swissranger_camera name="swissranger" parent="base_link">
	  <origin xyz="1.0 0 1.0" rpy="0 0 0" />
  </xacro:swissranger_camera-->
  
</robot>

